@{
    ViewBag.Title = "Contact";
}
<h2>To Contact David Washington:</h2>


<address>
    <strong>School:</strong>   <a href="mailto:dwashington1@mascience.org">dwashington1@mascience.org</a>
    <p><strong>Work:</strong>     <a href="mailto:David.Washington@directsupply.com">David.Washington@directsupply.com</a></p>
</address>