@{
    ViewBag.Title = "Home Page";
}
@*Title of the home page.*@
<h1>Welcome to My How To Page</h1>
<h1>      </h1>


<div class="jumbotron">
    @*All of the different how to options to choose from.*@
    <p> <a href="/HowTo/MakePizza"> How To Make A Pizza In A Pizza Oven</a></p>
    <p> <a href="/HowTo/TricepPushup">How To Do A Tricep Pushup</a></p>
    <p> <a href="/HowTo/PawnChess">How To Move A Pawn In Chess</a></p>
    <p> <a href="/HowTo/Freestyle">How To Freestyle Rap</a></p>
    <p> <a href="/HowTo/Lightbulb">How To Change A Lightbulb</a></p>
</div>